### Download and set up Anaconda (and Jupyter notebooks)

* Navigate to the Anaconda website and download Anaconda for your OS: https://www.anaconda.com/
* After the installation, from the start menu, pull up the Anaconda Shell
* Navigate to a workspace directory (e.g. C:\workspace)
* Run the command <i>jupyter notebook</i> to run the app 
* Create this notebook PythonTeradataConnection and start coding!

### Set up the movies table 

* From the Teradata Studio UI, we will load more data into the Movies.movies table. 
* Right-click on Movies.movies, then head to Data -> Load Data
* Pick the file imdb_top_100.csv (this is a trimmed version of the original downloaded from Kaggle)
* Choose to overwrite all existing data

From Teradata Studio, confirm the contents of the table by running: <br />
SELECT * FROM Movies.movies;

#### Install TeradataSQLAlchemy
This sets up SQL Alchemy to connect to Teradata. <br />
https://pypi.org/project/teradatasqlalchemy

In [1]:
!pip install --no-cache-dir -U SQLAlchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: SQLAlchemy in c:\programdata\anaconda3\lib\site-packages (1.4.32)
Collecting SQLAlchemy
  Downloading SQLAlchemy-1.4.37-cp39-cp39-win_amd64.whl (1.6 MB)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from SQLAlchemy) (1.1.1)
Installing collected packages: SQLAlchemy
Successfully installed SQLAlchemy-1.4.37

In [2]:
!pip install --no-cache-dir -U teradatasqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: teradatasqlalchemy in c:\users\zoomsthru\appdata\roaming\python\python39\site-packages (17.0.0.3)
Requirement already satisfied: sqlalchemy>=1.2.11 in c:\users\zoomsthru\appdata\roaming\python\python39\site-packages (from teradatasqlalchemy) (1.4.37)
Requirement already satisfied: teradatasql>=17.0.0.2 in c:\users\zoomsthru\appdata\roaming\python\python39\site-packages (from teradatasqlalchemy) (17.10.0.16)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy>=1.2.11->teradatasqlalchemy) (1.1.1)
Requirement already satisfied: pycryptodome in c:\users\zoomsthru\appdata\roaming\python\python39\site-packages (from teradatasql>=17.0.0.2->teradatasqlalchemy) (3.14.1)

#### Import the create_engine and text functions
These will allow us to set up an Engine - an object which serves as the connection to a Teradata instance. <br />

The text function creates a textual SQL instance.

In [3]:
from sqlalchemy import create_engine
from sqlalchemy import text

In [4]:
eng = create_engine('teradatasql://dbc:dbc@192.168.221.128')

#### Set up a connection to run a SELECT query
The returned result is a tuple containing all the values

In [5]:
with eng.connect() as conn:
    result = conn.execute(text("""SELECT Series_Title, Released_Year, IMDB_Rating 
                                   FROM Movies.movies 
                                   WHERE Released_Year > 2015"""))
    for row in result:
        print(row)

('Kimi no na wa.', 2016, Decimal('8.4'))
('Avengers: Infinity War', 2018, Decimal('8.4'))
('CapharnaÃ¼m', 2018, Decimal('8.4'))
('Soorarai Pottru', 2020, Decimal('8.6'))
('Top Gun: Maverick', 2022, Decimal('8.6'))
('Vikram Vedha', 2017, Decimal('8.4'))
('Avengers: Endgame', 2019, Decimal('8.4'))
('Gisaengchung', 2019, Decimal('8.6'))
('Stranger Things', 2016, Decimal('8.9'))
('Dangal', 2016, Decimal('8.7'))
('Hamilton', 2020, Decimal('8.6'))
('Spider-Man: Into the Spider-Verse', 2018, Decimal('8.4'))

#### The tuples in the result are named tuples
From the SQLAlchemy docs: <br /><i>As these are Python named tuples, the tuples have dynamic attribute names matching the names of each column. These names are normally the names that the SQL statement assigns to the columns in each row. While they are usually fairly predictable and can also be controlled by labels, in less defined cases they may be subject to database-specific behaviors.</i>

In [6]:
with eng.connect() as conn:
    result = conn.execute(text("""SELECT Series_Title, Released_Year, IMDB_Rating 
                                   FROM Movies.movies 
                                   WHERE Released_Year > 2015"""))
    for row in result:
        print(f"Title: {row.Series_Title}  Year: {row.Released_Year}, Rating: {row.IMDB_Rating}")

Title: Kimi no na wa.  Year: 2016, Rating: 8.4
Title: Avengers: Infinity War  Year: 2018, Rating: 8.4
Title: CapharnaÃ¼m  Year: 2018, Rating: 8.4
Title: Soorarai Pottru  Year: 2020, Rating: 8.6
Title: Top Gun: Maverick  Year: 2022, Rating: 8.6
Title: Vikram Vedha  Year: 2017, Rating: 8.4
Title: Avengers: Endgame  Year: 2019, Rating: 8.4
Title: Gisaengchung  Year: 2019, Rating: 8.6
Title: Stranger Things  Year: 2016, Rating: 8.9
Title: Dangal  Year: 2016, Rating: 8.7
Title: Hamilton  Year: 2020, Rating: 8.6
Title: Spider-Man: Into the Spider-Verse  Year: 2018, Rating: 8.4

#### Create a transaction for write operations

In [7]:
with eng.begin() as conn:
    conn.execute(text("""INSERT INTO Movies.movies 
                        (Series_Title, Released_Year, IMDB_Rating, Meta_score, No_of_Votes) 
                        VALUES (:Series_Title, :Released_Year, :IMDB_Rating, :Meta_score, :No_of_Votes)"""),
                 [{"Series_Title": 'Top Gun: Maverick', 
                   "Released_Year": 2022, 
                   "IMDB_Rating": 8.6,
                   "Meta_score": 88,
                   "No_of_Votes": 150000}, 
                  {"Series_Title": 'Stranger Things', 
                   "Released_Year": 2016, 
                   "IMDB_Rating": 8.7,
                   "Meta_score": 91,
                   "No_of_Votes": 1000000}]
    )

In [8]:
with eng.connect() as conn:
    result = conn.execute(text("""SELECT Series_Title, Released_Year, IMDB_Rating 
                                   FROM Movies.movies 
                                   WHERE Released_Year > 2015"""))
    for row in result:
        print(row)

('Kimi no na wa.', 2016, Decimal('8.4'))
('Avengers: Infinity War', 2018, Decimal('8.4'))
('CapharnaÃ¼m', 2018, Decimal('8.4'))
('Soorarai Pottru', 2020, Decimal('8.6'))
('Top Gun: Maverick', 2022, Decimal('8.6'))
('Vikram Vedha', 2017, Decimal('8.4'))
('Avengers: Endgame', 2019, Decimal('8.4'))
('Gisaengchung', 2019, Decimal('8.6'))
('Stranger Things', 2016, Decimal('8.9'))
('Dangal', 2016, Decimal('8.7'))
('Hamilton', 2020, Decimal('8.6'))
('Spider-Man: Into the Spider-Verse', 2018, Decimal('8.4'))

#### Update queries

In [9]:
with eng.begin() as conn:
    conn.execute(text("""UPDATE Movies.movies 
                         SET IMDB_Rating=:rating WHERE Series_Title=:title"""),
                 [{"title": 'Stranger Things', 
                   "rating": 8.9}, 
                  {"title": 'Dangal',
                   "rating": 8.7},
                  {"title": 'Joker',
                   "rating": 8.1}]
    )

In [10]:
with eng.connect() as conn:
    result = conn.execute(text("""SELECT Series_Title, Released_Year, IMDB_Rating 
                                   FROM Movies.movies 
                                   WHERE Released_Year > 2015"""))
    for row in result:
        print(row)

('Kimi no na wa.', 2016, Decimal('8.4'))
('Avengers: Infinity War', 2018, Decimal('8.4'))
('CapharnaÃ¼m', 2018, Decimal('8.4'))
('Soorarai Pottru', 2020, Decimal('8.6'))
('Top Gun: Maverick', 2022, Decimal('8.6'))
('Vikram Vedha', 2017, Decimal('8.4'))
('Avengers: Endgame', 2019, Decimal('8.4'))
('Gisaengchung', 2019, Decimal('8.6'))
('Stranger Things', 2016, Decimal('8.9'))
('Dangal', 2016, Decimal('8.7'))
('Hamilton', 2020, Decimal('8.6'))
('Spider-Man: Into the Spider-Verse', 2018, Decimal('8.4'))

#### Delete queries

In [11]:
with eng.begin() as conn:
    conn.execute(text("""DELETE FROM Movies.movies 
                         WHERE Series_Title=:title"""),
                 [{"title": 'Ayla: The Daughter of War'}, 
                  {"title": 'Coco'},
                  {"title": 'Joker'}]
    )

In [12]:
with eng.connect() as conn:
    result = conn.execute(text("""SELECT Series_Title, Released_Year, IMDB_Rating 
                                   FROM Movies.movies 
                                   WHERE Released_Year > 2015"""))
    for row in result:
        print(row)

('Kimi no na wa.', 2016, Decimal('8.4'))
('Avengers: Infinity War', 2018, Decimal('8.4'))
('CapharnaÃ¼m', 2018, Decimal('8.4'))
('Soorarai Pottru', 2020, Decimal('8.6'))
('Top Gun: Maverick', 2022, Decimal('8.6'))
('Vikram Vedha', 2017, Decimal('8.4'))
('Avengers: Endgame', 2019, Decimal('8.4'))
('Gisaengchung', 2019, Decimal('8.6'))
('Stranger Things', 2016, Decimal('8.9'))
('Dangal', 2016, Decimal('8.7'))
('Hamilton', 2020, Decimal('8.6'))
('Spider-Man: Into the Spider-Verse', 2018, Decimal('8.4'))